<%- include('include/head.ejs')%>

    <body>
        <%- include('include/navigation.ejs')%>
            <!-- Page Content -->
            <div class="container">
                <div class="row">
                    <%- include('include/sidebar.ejs')%>
                        <div class="col-lg-9">
                            <%- include('include/carousel.ejs')%>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2>Add Listing</h2>

                                        <form action="/add-listing" method="POST">
                                            <div class="form-group">
                                                <label for="title">Title</label>
                                                <input class="form-control" id="title" name="title">
                                            </div>
                                            <div class="form-group">
                                                <label for="pay">Pay</label>
                                                <input class="form-control" id="pay" name="pay">
                                            </div>
                                            <div class="form-group">
                                                <label for="location">Location</label>
                                                <input class="form-control" id="location" name="location">
                                            </div>
                                            <div class="form-group">
                                                <label for="imageURL">Image URL</label>
                                                <input class="form-control" id="imageURL" name="imageURL">
                                            </div>
                                            <div class="form-group">
                                                <label for="description">Description</label>
                                                <textarea class="form-control" name="description" id="description"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                        <br>
                                    </div>

                                </div>
                                <!-- /.row -->
                        </div>
                        <!-- /.col-lg-9 -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            <%- include('include/end.ejs')%>