<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        Connectify
    </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

    <link rel="stylesheet" href="css/appliedTo.css">

</head>

    <body>
        <%- include('layouts/studentNavigation.ejs')%>

        <br>
            <!-- Page Content -->
            <div class="container">
                <div class="row">
                    <section class="jumbotron text-center" id="banner">
                        <div class="container">
                          <h1 class="jumbotron-heading"> Application History</h1>
                          <p>
                          </p>
                        </div>
                      </section>
                        <div class="col-lg-9">
                                <div class="row" id="details">
                                    <div class="col-sm-12">

                                        <% if (cart === null || cart.items.length == 0) {%>

                                            <h2>You haven't applied for any jobs yet.</h2>

                                            <%} else {%>

                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Job Title</th>
                                                            <th scope="col">Pay/ Hour (CAD)</th>
                                                            <th scope="col">Quantity</th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for(let i = 0; i < cart.items.length; i++){
                                                            let eachItem = cart.items[i];  
                                                        %>
                                                            <tr>
                                                                <th scope="row">
                                                                    <%= i+1%>
                                                                </th>
                                                                <td>
                                                                    <%= eachItem.productId.title%>
                                                                </td>
                                                                <td>
                                                                    <%= eachItem.productId.price%>
                                                                </td>
                                                                <td>
                                                                    <%= eachItem.qty%>
                                                                </td>
                                                                <td>
                                                                    <form action="/delete-cart" method="POST">
                                                                        <input type="hidden" name="prodId" value="<%= eachItem.productId._id%>">
                                                                        <button type="submit" class="btn btn-primary">Delete</button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                            <%}%>
                                                    </tbody>
                                                </table>

                                             
                                                    <h5 id="totalJobs">Total Jobs Applied To: <%= cart.totalPrice%></h5>
                                                    
                                                        
                                                    


                                                <%}%>

                                                    <br>
                                    </div>

                                </div>
                                <!-- /.row -->
                        </div>
                        <!-- /.col-lg-9 -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            <%- include('layouts/end.ejs')%>