<%- include('include/head.ejs')%>

    <body>
        <%- include('include/navigation.ejs')%>
            <!-- Page Content -->
            <div class="container">
                <div class="row">
                    <%- include('include/sidebar.ejs')%>
                        <div class="col-lg-9">
                            <%- include('include/carousel.ejs')%>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h1>
                                            <%= prod.title %>
                                        </h1>
                                        <p><img src="<%= prod.imageURL%>" /></p>
                                        <p>Pay/Hour:
                                            $<%= prod.pay%>
                                            CAD
                                        </h5>
                                        </p>
                                        <p>Description:
                                            <%= prod.description%>
                                        </p>
                                        <br>
                                        <a type="submit" class="btn btn-primary" href="/listing-applied">Apply</a>
                                    </div>

                                </div>
                                <!-- /.row -->
                        </div>
                        <!-- /.col-lg-9 -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            <%- include('include/end.ejs')%>